@model List<ShopSi.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    
<script src="/assets/client/js/controller/cartController.js"></script>
    
    }
<div class="cart-items">
  
    <div class="container">
        <h2>Giỏ hàng của tôi</h2>
        <div class="cart-gd">

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {

                    <div class="cart-header">

                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="@item.Product.Image" class="img-responsive" alt="">
                            </div>
                            <div class="cart-item-info">
                                <h3><a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID"> @item.Product.Name </a></h3>

                                <p style="white-space:pre">Mã sản phẩm: @item.Product.Code</p> <br />
                                <p style="white-space:pre">Số lượng:    <input type="text" class="txtquantity" data-id="@item.Product.ID" value="@item.Quantity" /></p><br />
                                <p style="white-space:pre">Đơn giá:     @item.Product.Price ₫</p><br />
                                <p style="white-space:pre">Thành tiền:  @(item.Product.Price * item.Quantity) ₫</p><br />
                                <p><a href="#" class="deleteID" data-id="@item.Product.ID">Xóa sản phẩm</a></p>
                            </div>


                            <div class="clearfix"></div>

                        </div>
                    </div>

                }

                <button id="btnContinue" class="btn btn-success" style="color:white;font-weight: bold;font-size:14px">Tiếp tục mua hàng</button>
                <button id="btnUpdate" class="btn btn-info" style="color:white;font-weight: bold;font-size:14px">Cập nhập giỏ hàng</button>
                <button id="btnDeleteAll" class="btn btn-danger" style="color:white;font-weight: bold;font-size:14px">Hủy tất cả đơn hàng</button>
                <button id="btnPayment" class="btn btn-primary" style="color:white;font-weight: bold;font-size:14px">Thanh toán</button>

            }

            else
            {
                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
                <div class="clearfix"></div>

            }

        </div>
    </div>
</div>
