@model Models.EF.Product__Category
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = (List<Models.EF.Product>)ViewBag.ProdcutCateId;
    var featureProduct = (List<Models.EF.Product>)ViewBag.FeatureProduct;
    var proType = (List<Models.EF.ProductType>)ViewBag.ProType;
}
@section jsFooter{
    <script src="/assets/client/js/cbpViewModeSwitch.js" type="text/javascript"></script>
    <script src="/assets/client/js/classie.js" type="text/javascript"></script>
    <script type="text/javascript">
					                 $(window).load(function() {
						                $("#flexiselDemo3").flexisel({
                              visibleItems: 4,
							                animationSpeed: 1000,
							                autoPlay: true,
							                autoPlaySpeed: 3000,
							                pauseOnHover: true,
							                enableResponsiveBreakpoints: true,
					    	                responsiveBreakpoints: {
                                  portrait: {
                                      changePoint:480,
					    			                visibleItems: 1

                                                },
					    		                landscape: {
                                      changePoint:640,
					    			                visibleItems: 2

                                                },
					    		                tablet: {
                                      changePoint:768,
					    			                visibleItems: 3

                                                }
                                  }
                              });

                          });
    </script>
    <script type="text/javascript" src="/assets/client/js/jquery.flexisel.js"></script>
}
<!-- content-section-starts -->
<div class="container">
    <div class="products-page">
        <div class="products">
            @{
                Html.RenderAction("LeftMain", "ProCategory");
            }
        </div>
        <div class="new-product">
            <div class="new-product-top">
                <ul class="product-top-list">
                    <li><a href="/">Home</a>&nbsp;<span>&gt;</span></li>
                    <li><span class="act"><a>@Model.Name</a></span>&nbsp;</li>
                </ul>
                <p class="back"><a href="/">Back to Previous</a></p>
                <div class="clearfix"></div>
            </div>
            <hr />
            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="cbp-vm-options">
                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
                </div>
                @*<div class="pages">
                        <div class="limiter visible-desktop">
                            <label>Show</label>
                            <select>
                                <option value="" selected="selected">
                                    9
                                </option>
                                <option value="">
                                    15
                                </option>
                                <option value="">
                                    30
                                </option>
                            </select> per page
                        </div>
                    </div>*@
                <div class="clearfix"></div>
                <ul>
                    @foreach (var item in product)
                    {
                        <li>
                            <div class="simpleCart_shelfItem">
                                <a class="cbp-vm-image" href="/chi-tiet/@item.MetaTitle-@item.ID">
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <img src="@item.Image" class="img-responsive" alt="" />
                                                <div class="mask">
                                                    <p>Xem chi tiết</p>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">@item.Name</p>
                                                    </div>
                                                    <div class="pricey"><span class="item_price">@item.Price ₫</span></div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="cbp-vm-details">
                                    @item.Description
                                </div>
                                <a class="cbp-vm-icon cbp-vm-add item_add" href="/them-gio-hang?productID=@item.ID&quantity=1">Thêm vào giỏ hàng</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            @*//Phan trang*@

            <!--Phân trang-->
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = (int)ViewBag.Page;

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);
                var title = "ao/";

                if (Model.TypeID == 1)
                {
                    title = "ao/";
                }
                else if (Model.TypeID == 2)
                {
                    title = "quan/";
                }
                else
                {
                    title = "phu-kien/";
                }

                var link = "/san-pham/" + title + Model.MetaTitle + "-" + Model.ID;
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li>
                                <a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                                <li>
                                    <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
            else
            {
                <span>Không có bản ghi nào</span>
            }




            <script src="/assets/client/js/cbpViewModeSwitch.js" type="text/javascript"></script>
            <script src="/assets/client/js/classie.js" type="text/javascript"></script>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- content-section-ends -->
<div class="other-products">
    <div class="container">
        <h3 class="like text-center">Sản phẩm nổi bật</h3>
        <ul id="flexiselDemo3">
            @foreach (var item in featureProduct)
            {
                <li>
                    <a href="/chi-tiet/@item.MetaTitle-@item.ID"><img src="@item.Image" class="img-responsive" /></a>
                    <div class="product liked-product simpleCart_shelfItem">
                        <a class="like_name" href="/chi-tiet/@item.MetaTitle-@item.ID">@item.Name</a>
                        <p><a class="item_add" href="#"><i></i> <span class="item_price">@item.Price</span></a></p>
                    </div>
                </li>
            }

        </ul>

    </div>
</div>
<!-- content-section-ends-here -->